<%- include('partials/header', { title: 'Sepet' }) %>
<h2>Sepetiniz</h2>
<% if (cartItems.length > 0) { %>
  <ul>
    <% cartItems.forEach(item => { %>
      <li>
        <strong><%= item.title %></strong> - <%= item.quantity %> adet - <%= item.price * item.quantity %> TL
        <br>
        <img src="<%= item.image_path %>" alt="<%= item.title %>" style="max-width: 200px;">
        
        <!-- Sepetten Çıkarma Butonu -->
        <form method="POST" action="/cart/remove">
          <input type="hidden" name="cartId" value="<%= item.id %>">
          <button type="submit">Sepetten Çıkar</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/checkout">Ödeme Sayfasına Git</a>
<% } else { %>
  <p>Sepetinizde ürün bulunmamaktadır.</p>
<% } %>


<%- include('partials/footer') %>
